<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>status 200</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../../css/style.css') }}">

</head>
<body>


<body>

  <div class="status">
    <div class="wrap">
      <div class="200">
        <pre><code>
	 <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
<span class="orange">&lt;html&gt;</span>
    <span class="orange">&lt;style&gt;</span>
   * {
		        <span class="green">everything</span>:<span class="blue">awesome</span>;
}
     <span class="orange">&lt;/style&gt;</span>
 <span class="orange">&lt;body&gt;</span> 
              all working fine...
				Service Online.

 <span class="orange"></span> 
			  
</div>
<br />
<br />


<span class="info">
<br />

<span class="orange">&nbsp;&lt;/body&gt;</span>

<br/>
      <span class="orange">&lt;/html&gt;</span>
    </code></pre>
      </div>
    </div>

    </span>


</body>

</html>
